<h3>Hello, Global Friend! Here are all of the properties you could rent.</h3>
<div class="row" id="prop-scan">
  <div class='col-sm-8'>
    <% @properties.each do |property| %>
      <p>
      <%= link_to property.name, property_path(property) %><br/>
      <% if !property.pictures.first.nil? %>
        <%= link_to image_tag(property.pictures.first.image(:thumb)), property_path(property)   %><br />
      <% end %>
      <%= property.description %></p>
    <% end %>

    <%= link_to "Add a Property to Rent", new_property_path, class: 'btn btn-success btn-sm', remote: true %>
  </div>
  <div class="col-sm-4">
    <div id="filter-form"
      <span class="descriptiontext"><p>Filter Properties by:</p></span>
      <p>
        <%= form_for @property_filter, as: :property_filter,  method: 'get' do |f|%>
          <div class="form-group">
            <%= f.label :location, "Price: ", :class => "control-label" %><br />
            <%= f.select :location, options_for_select([["All"], ["Expensive"], ["Reasonable"], ["Cheap"]]), :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :rental_type, "Rental Type: " %><br />
            <%= f.select :rental_type, options_for_select([["All"], ["Entire Place"], ["Private Room"], ["Shared Room"]]) %>
          </div>
          <%= f.submit "Filter", class: 'btn btn-success btn-sm' %>
        <% end %>
      </p>
    </div>
  </div>

</div>
